@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  padding-right: 115px;
  padding-left: 115px;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 1279.99px) {
  .container {
    padding-right: 72px;
    padding-left: 72px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 834.99px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
